{% extends "master.html" %}

{% block title %}
Change {{session['firstname']}}'s password
{% endblock %}

{% import "macros.html" as macros %}

{% block content %}
<div class="container">
    {{ macros.showflashes() }}
    {{ macros.showflashes(category=['success'], alert_type='alert-success') }}

    <h1>Change your password</h1>
    <p class="lead">To change your password, you must enter your current password.</p>

    <form action="/updatepassword" method="POST">
        {% for item in EDITPASSWORD %}
            {{macros.inputfield(item['name'], item['label'], type=password)}}
        </div>
        {% endfor %}
        <div class="row">
            <div class="col col-lg-6">
                <a href="/success" class="btn btn-block btn-primary btn-lg">Home</a>
            </div>
            <div class="col col-lg-6">
                <button type="submit" class="btn btn-block btn-danger btn-lg">Change password</button>
            </div>
        </div>
    </form>

</div>
{% endblock %}


