{% extends "master.html" %}

{% block title %}
Login to your Private Wall
{% endblock %}

{% import "macros.html" as macros %}

{% block content %}
<div class="container">
    {{ macros.showflashes(category=['error']) }}
    {{ macros.showflashes(category=['success'], alert_type='alert-success') }}
    <div class="row">
        <div class="col col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12 mb-5">
            <h1 class="display-4">Registration</h1>
            <form action="/register" method="POST">
                {% for item in REGISTRATION %}
                {{ macros.inputfield(item['name'], item['label'], value=item['value'], placeholder=item['placeholder'], type=item['type'], small_text=item['small_text']) }}
                {% endfor %}
                <div class="form-group">
                    <label>Select your favorite languages:</label>
                    {% with msgs = get_flashed_messages(category_filter=["languages"]) %}
                    {% for msg in msgs %}
                    <div class="alert alert-danger" role="alert">
                        {{msg}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %}
                    {% endwith %}
                    <div class="row">
                        {% for language in LANGUAGES %}
                        {% set lang = language['name'] %}
                        <div class="mx-4 form-check col col-xl-4 col-lg-4 col-md-8 col-sm-8 col-xs-8">
                            <input class="form-check-input" type="checkbox" name="{{lang}}">
                            <label class="form-check-label">{{lang}}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <button type="submit" id="register_submit" class="btn btn-primary btn-lg">Register</button>
                <button type="reset" class="btn btn-secondary btn-lg">Reset</button>
            </form>
        </div>
        <div class="col col-xl-1 col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>
        <div class="col col-xl-6 col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <h1 class="display-4">Login</h1>
            <form action="/login" method="post">
                {{ macros.inputfield('loginemail', 'Email') }}
                {{ macros.inputfield('loginpassword', 'Password', placeholder='Password', type='password') }}
                <button type="submit" class="btn btn-primary btn-lg">Log in</button>
            </form>
        </div>
    </div>

</div>
{% endblock %}

{% block morescripts %}
<script>
    $('.alert').alert();

    $('#register_submit').click(
        function(){
            if($('#input_firstname').val().length < 2) {
                alert('First name must be at least two characters');
            }
        }
    );

</script>
{% endblock %}
