{% extends "master.html" %}

{% block title %}
{% endblock %}

{% block content %}
<div class="container">
    {% with errors = get_flashed_messages(category_filter=['error']) %}
    {% for message in errors %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endwith %}
    {% with successes = get_flashed_messages(category_filter=['success']) %}
    {% for message in successes %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endwith %}

    <div class="container my-4">
        <h1 class="display-4">Welcome, {{session['firstname']}}!</h1>
        <hr class="my-4">
        <div class="row">
            <div class="col col-lg-3 col-sm-5 col-xs-5">
                <div class="dropdown">
                    <button class="btn btn-primary btn-lg btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Profile
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/viewprofile">View Profile</a>
                        <a class="dropdown-item" href="/editprofile">Edit Profile</a>
                        <a class="dropdown-item" href="/changepasswd">Change password</a>
                        <!-- confirmdelete is a modal in confirmdelete.html -->
                        <a class="dropdown-item" data-toggle="modal" data-target="#confirmdelete">Delete Profile</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-6 col-sm-2 col-xs-2"></div>
            <div class="col col-lg-3 col-sm-5 col-xs-5">
                <a class="btn btn-danger btn-lg btn-block" href="/logout" role="button">Logout</a>
            </div>
        </div>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <!-- This is where the receieved messages show up -->
            <form class="my-1" action="/delmsg/12" method="POST">
                <div class="alert alert-primary" role="alert">
                    <p class="my-0"><b>Alex:</b></p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <button class="close" type="submit">
                        <img src="{{ url_for('static', filename='img/delmsg.png') }}" alt="close" width="30px">
                    </button>
                </div>
            </form>
            <form class="my-1" action="/delmsg/10" method="POST">
                <div class="alert alert-primary" role="alert">
                    <p class="my-0"><b>Jane:</b></p>
                    Feugiat vivamus at augue eget arcu dictum varius duis at. Dignissim suspendisse in est ante. Auctor neque vitae tempus quam pellentesque nec nam aliquam. Nisl suscipit adipiscing bibendum est ultricies integer. Cursus mattis molestie a iaculis. Feugiat nisl pretium fusce id velit. Viverra orci sagittis eu volutpat odio facilisis mauris sit amet. Montes nascetur ridiculus mus mauris vitae. Velit sed ullamcorper morbi tincidunt ornare. Pharetra massa massa ultricies mi quis hendrerit dolor.
                    <button class="close" type="submit">
                        <img src="{{ url_for('static', filename='img/delmsg.png') }}" alt="close" width="30px">
                    </button>
                </div>
            </form>
        </div>
        <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <!-- This is where you type messages to others -->
            <form action="/sendmsg" method="POST" class="my-4">
                <div class="form-group">
                    <label>Alex</label><input type="hidden" width="0px" name="recipient_id" value="5">
                    <div class="row">
                        <div class="col col-lg-11 col-md-11 col-sm-11 col-xs-11">
                            <textarea class="form-control" name="content" rows="3"></textarea>
                        </div>
                    <div class="col col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <button class="btn btn-primary" type="submit">Send</button>
                    </div>
                    </div>
                </div>
            </form>
            <form action="/sendmsg" method="POST" class="my-4">
                <div class="form-group">
                    <label>Jane</label><input type="hidden" width="0px" name="recipient_id" value="5">
                    <div class="row">
                        <div class="col col-lg-11 col-md-11 col-sm-11 col-xs-11">
                            <textarea class="form-control" name="content" rows="3"></textarea>
                        </div>
                    <div class="col col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <button class="btn btn-primary" type="submit">Send</button>
                    </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% include "confirmdelete.html" %}

</div>
{% endblock %}


